$first-color-light: #d5def5;
$second-color-light: #8594e4;
$third-color-light: #6643b5;
$fourth-color-light: #430f58;
$white: #fff;

$first-color-dark: #363b4e;
$second-color-dark: #4f3b78;
$third-color-dark: #927fbf;
$fourth-color-dark: #c4bbf0;
$black: #000;
