.GameNotFoundMessage {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  line-height: 20px;
}

.TitleAndAction {
  .Link {
    position: absolute;
    top: 20px;
    cursor: pointer;
  }
}

.Image {
  margin: 0 auto 20px;
}

.Details {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  line-height: 20px;

  .Description {
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.Save {
  margin-top: 20px;
  align-self: center;
  line-height: 20px;
}

.Buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  line-height: 20px;
}
