/* Set core body defaults */
.App {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  background-color: #d5def5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-feature-settings: "pnum" 1, "lnum" 1;
}
